.about-container{
    max-width: 1048px;
    width: 100%;
    margin: auto;
  }



/* ************************
            INTRO
************************ */
.about-intro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.about-intro img{
    max-width: 420px;
    width: 100%; 
    display: inline-block;   
}

.about-intro div{
    padding-left: 60px;
    display: inline-block;
    max-width: 600px;
    width: 100%;
}

.about-intro div h2{
    font-family: 'Yeseva One', cursive;
}

.about-intro div p{
    padding: 20px 0;
    font-size: 20px;
}


/* ************************
            STORY
************************ */

.about-story h2{
    font-family: 'Yeseva One', cursive;
}

.story-block-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.story-block{
    max-width: 300px;
    width: 100%;
    margin-right: 40px;
}

.story-block h5{
    font-family: 'Montserrat', sans-serif;
}

/* ************************
            WORK
************************ */
.about-working h2{
    font-family: 'Yeseva One', cursive;
}


.circle-border{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 80px;
    border-color: #27A2BB;
    padding: 14px;
    align-items: center;
    
}

.circle-border img{
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    display: inline-block;
}

.circle-border button{
    border: none;
    background-color: #85BFCD;
    width: 100%;
    max-width: 100px;
}

.circle-wrap{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.circle-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.circle-text h5{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 8px;
}

.circle-text p{
    font-size: 14px;
}

