@media ( max-width : 750px ) {
    .article-container{
        padding: 40px 14px;
        z-index: 100; 
        position: relative;
    }
    .three-circle>img{
        width: 240px;

    }
    .fixed-left-lg{
        position: relative;
    }
    
    .my-button{
        width: 100%;
    }

}

@media ( min-width : 750.02px ) and ( max-width : 1200px ) {
    .article-container{
        padding: 40px 60px;
        z-index: 100;
        position: relative;
    }
    .three-circle>img{
        width: 240px;
    }
    .fixed-left-lg{
        position: relative;
        width: 100%;
        margin-bottom: 40px;
    }

    .my-button{
        width: 50%;
    }
}

@media ( min-width : 1200.02px ) {
    .article-container{
        padding: 80px 120px;
        z-index: 100;
        position: relative;
    }
    .three-circle>img{
        width: 240px;
    }
    .fixed-left-lg{
        position: fixed;
    }
    
    .my-button{
        width: 100%;
    }
}

.article-nav-bg{
    width: 100%;
    max-width: 2200px;
    height: 300px;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 200;
    background-image: url('/img/article-navbar-bg.svg');
    background-repeat: no-repeat;
    transition: .4s;
    transition-timing-function: ease-out;
    opacity: 80%;
    pointer-events: none;
}

.article-nav-bg.sm{
    height: 100%;
    opacity: 100%;
}




.left-content{
    padding-right: 20px !important;
}



.article-title{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 10px;
    max-width: 320px;
    width: 100%;
}

.article-subtitle{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.article-time{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}


.reading-indicator{
    font-size: 18px;
    font-weight: 500;
    padding-top: 60px;
    display: none;
}

.reading-indicator>p{
    padding-bottom: 4px;
}

.right-content>img{
    padding: 40px 0px;
    width: 100%;
}

.right-content p{
    font-size: 18px;
}

.right-content h3{
    font-family: 'Yeseva One', cursive;
    padding-bottom: 6px;
    padding-top: 130px;
    font-size: 36px;
    text-align: center;
}

.right-content a{
    color: #505050;
}

.right-content a:hover{
    color: #27A2BB;
}




.divider{
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
}

.quote{
    font-style: italic;
    font-weight: 600;
    padding-top: 6px;
}

.emphesize{
    font-weight: 600;
    padding-bottom: 6px;
}

li{
    font-size: 18px;
    margin-top: 10px;
}

.tcsa-hero{
    width: 50%;
}



.my-button button{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    transition: background-color ease-out .3s;
}


.my-button a{
    text-decoration: none;
}




.link-live{
    background-color: #ffffff;
    color:  #505050; 
}


.link-live:hover{
    background-color: #85BFCD;
    color: white;
}


.link-github{
    background-color: white;
    color: #505050;
}

.link-github:hover{
    background-color: #F4B076;
    color: white;

}

.pt-img-group > p{
    text-align: center;
}

.youtube-video-player{
    z-index: 20000;
}


.original-design-in-figma{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.original-design-in-figma img{
    width: 300px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.opening > h5{
    margin-bottom: 30px;
}
  ul {
    list-style: circle !important;
    font-family: 'Montserrat', sans-serif;;
  }

  .user-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-img > img{
    max-width: 260px;
    width: 100%;
    margin: 20px;
  }

  .window{
    max-height: 390px;
    height: 100%;
    max-width: 700px;
    width: 100%;
    overflow: scroll;
    margin: 20px 0;
  }

  .window > img {
    max-width: 700px;
    width: 100%;
    overflow: scroll;
  }


  .window::before{
    content: '';
    background-image: url('../img/');
  }

  .ui-session{
    margin-top: 160px;
  }


  .ui-session b{
    font-style: italic;
    font-weight: 600;
  }

  .ui-session video, .trust-solution video{
    max-width: 700px;
    width: 100%;
    max-height: 390px;
    height: 100%;
    margin: 0 auto;
  }

/* trust-problem session */

.problem-list .problem-a{
    display: none;
    
}
.problem-list .problem-q{
    position: relative;
    /* color: #27A2BB; */
    padding: 0 30px 0 0;
}
.problem-list .problem-q::after{
    content: '';
    background: url(../img/arrowdown.svg) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 5px;
    transition: 0.2s;
}

.problem-list .active .problem-q::after{
    transform: rotate(180deg);
    top: -5px;
    transition: 0.2s;
}
.problem-list ul li{
    list-style: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
}

.problem-list-ul{
    padding-left: none !important;
}
.problem-list ul .active{
    transition: 0.5s;
}

.problem-list .active .problem-a{
    display: block;
}


.user-flow-img {
    max-width: 750px;
    width: 100%;
    filter: none;
}

.trust-solution img{
    max-width: 750px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .user-flow-img {
        max-width: 750px;
        width: 100%;
        transition: transform .2s;
        filter: grayscale(100%);
    }
    .user-flow-img:hover{
        transform: scale(1.5);
        filter: grayscale(0%);
    }
}


/* .trust-solution h5{
    color: #27A2BB;
  } */

table, th, tr, td{
    border: 1px solid !important;
}
table th, table td{
    padding: 10px;
} 
table th{
    background-color: #85BFCD;
}
.trust-solution table{
    border-collapse: collapse !important;
    background-color: #fff;
    border-radius: 8px;
    
    max-width: 750px;
    width: 100%;
}

.table-scroll{
    overflow: auto;
}

.img-text{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.trust-solution{
    margin-bottom: 150px;
}

