.work-border{
    border: solid 1px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-color: #27A2BB;
}


.work-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.work-text{
    max-width: 450px;
    width: 100%;
    margin: 30px;
}

.work-text h2{
    font-family: 'Yeseva One', cursive;
}

.work-text h2:hover{
    color: #27A2BB;
    transition: all .3s;
}
.work-img img{
    max-width: 280px;
    width: 100%;
}
.firm{
    color: #27A2BB;
    font-weight: 500;
    font-size: 14px;
}

